@model IEnumerable<Restaurant.Models.UserAddress>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Clients"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lon)
            </td>
            <td>
                @if (User.IsInRole("Clients")) {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                                                                       }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                 @if (User.IsInRole("Clients")) { 

                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
